<ion-view class="welcome-view" cache-view="false">
  <ion-content scroll="false">
    <div class="top-content row">
      <div class="app-copy col col-top">
        <h1 class="app-logo">Tennis Statistic</h1>
        <p class="app-tagline">
          A lightweight tennis scorekeeper with match statistics.
        </p>
        <img class="app-image" src="./../img/tennisball-character.png">
      </div>
    </div>
    <div class="bottom-content row">
      <div class="col col-bottom">
        <a class="facebook-sign-in button button-block" ng-click="facebookSignIn()">
          Log in with Facebook
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
